<div class="profile-container">
  <nav class="left-coachee-menu">
    <h3>My Profile</h3>
    <button mat-button [routerLink]="profileUrl" class="side-nav-btn">Profile information</button>
    <button mat-button routerLink="/coaching-sessions" class="side-nav-btn"[style]="{'background-color':colorLayout}">Coaching sessions</button>
    <button mat-button routerLink="/becomeacoach" *ngIf="!isCoach" class="side-nav-btn">Become a coach</button>
  </nav>
  <div class="session-overview">
    <mat-card>
      <div class="prof-info-header">
        <mat-card-title>My upcoming sessions</mat-card-title>
      </div>
    <table mat-table [dataSource]="requestSessions" class="mat-elevation-z8">

      <ng-container matColumnDef="subject">
        <th mat-header-cell *matHeaderCellDef> subject</th>
        <td mat-cell *matCellDef="let requestSession"> {{requestSession.subject}} </td>
      </ng-container>
      <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef> location</th>
        <td mat-cell *matCellDef="let requestSession"> {{requestSession.location}} </td>
      </ng-container>

    </table>

    </mat-card>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


    <div class="pro-info-body">


    </div>
    <mat-card>
      <div class="prof-info-header">
        <mat-card-title>Waiting for feedback</mat-card-title>
      </div>
      <div class="pro-info-body">


      </div>
    </mat-card>
    <mat-card>
      <div class="prof-info-header">
        <mat-card-title>Archive</mat-card-title>
      </div>
      <div class="pro-info-body">


      </div>
    </mat-card>
  </div>
</div>

