<mat-card class="container-card">
  <div class="filter-container">
    <mat-form-field appearance="standard">
      <mat-label>Filter by topic</mat-label>
      <mat-select [(ngModel)]="selectedTopic">
        <mat-option value="">All topics</mat-option>
        <mat-option *ngFor="let topicName of topicNames " [value]="topicName.name">{{topicName.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Filter by grade</mat-label>
      <mat-select [(ngModel)]="selectedGrade" [value]="0">
        <mat-option [value]=0>All grades</mat-option>
        <mat-option [value]=1>1</mat-option>
        <mat-option [value]=2>2</mat-option>
        <mat-option [value]=3>3</mat-option>
        <mat-option [value]=4>4</mat-option>
        <mat-option [value]=5>5</mat-option>
        <mat-option [value]=6>6</mat-option>
        <mat-option [value]=7>7</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-icon>search</mat-icon>
    <mat-form-field class="search-field">
      <input [(ngModel)]="searchText" aria-describedby="search-text" matInput
             placeholder="First name, last name or email">
    </mat-form-field>
  </div>

  <div class="coach-card-container">
    <div *ngFor="let coach of coaches | appFilter: searchText">
      <mat-card class="coach-card" *ngIf="((selectedTopic==='' &&
       (isTopicInYear(coach.topicOne, selectedGrade)|| isTopicInYear(coach.topicTwo, selectedGrade)))
      ||(selectedTopic===coach.topicOne.name && isTopicInYear(coach.topicOne, selectedGrade))
      ||(selectedTopic===coach.topicTwo.name && isTopicInYear(coach.topicTwo, selectedGrade)))">
        <mat-card-title>{{coach.userInfo.firstName}} {{coach.userInfo.lastName}}</mat-card-title>
        <img src="{{coach.userInfo.pictureUrl}}">
        <div *ngIf="coach.topicOne.name !==''">
          <p>{{coach.topicOne.name}}</p>
          <mat-button-toggle-group name="fontStyle" aria-label="Font Style" multiple="true"
          >
            <mat-button-toggle [ngStyle]="{'background-color':coach.topicOne.firstGrade ? colorLayout: 'white'}">
              <mat-icon class="grade-icon">filter_1</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle [ngStyle]="{'background-color':coach.topicOne.secondGrade ? colorLayout: 'white'}">
              <mat-icon class="grade-icon">filter_2</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle [ngStyle]="{'background-color':coach.topicOne.thirdGrade ? colorLayout: 'white'}">
              <mat-icon class="grade-icon">filter_3</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle [ngStyle]="{'background-color':coach.topicOne.fourthGrade ? colorLayout: 'white'}">
              <mat-icon class="grade-icon">filter_4</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle [ngStyle]="{'background-color':coach.topicOne.fifthGrade ? colorLayout: 'white'}">
              <mat-icon class="grade-icon">filter_5</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle [ngStyle]="{'background-color':coach.topicOne.sixthGrade ? colorLayout: 'white'}">
              <mat-icon class="grade-icon">filter_6</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle [ngStyle]="{'background-color':coach.topicOne.seventhGrade ? colorLayout: 'white'}">
              <mat-icon class="grade-icon">filter_7</mat-icon>
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <div *ngIf="coach.topicTwo.name !==''">
          <p>{{coach.topicTwo.name}}</p>
          <mat-button-toggle-group name="fontStyle" aria-label="Font Style" multiple="true">
            <mat-button-toggle [ngStyle]="{'background-color':coach.topicTwo.firstGrade ? colorLayout: 'white'}">
              <mat-icon class="grade-icon">filter_1</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle [ngStyle]="{'background-color':coach.topicTwo.secondGrade ? colorLayout: 'white'}">
              <mat-icon class="grade-icon">filter_2</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle [ngStyle]="{'background-color':coach.topicTwo.thirdGrade ? colorLayout: 'white'}">
              <mat-icon class="grade-icon">filter_3</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle [ngStyle]="{'background-color':coach.topicTwo.fourthGrade ? colorLayout: 'white'}">
              <mat-icon class="grade-icon">filter_4</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle [ngStyle]="{'background-color':coach.topicTwo.fifthGrade ? colorLayout: 'white'}">
              <mat-icon class="grade-icon">filter_5</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle [ngStyle]="{'background-color':coach.topicTwo.sixthGrade ? colorLayout: 'white'}">
              <mat-icon class="grade-icon">filter_6</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle [ngStyle]="{'background-color':coach.topicTwo.seventhGrade ? colorLayout: 'white'}">
              <mat-icon class="grade-icon">filter_7</mat-icon>
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <button mat-mini-fab class="send-button" (click)="navigateToCoachDetail(coach.coachId)"
                [style]="{'background': colorLayout}">
          <mat-icon>send</mat-icon>
        </button>
      </mat-card>
    </div>
  </div>
</mat-card>
