<nav class="hnavigation">
  <div class="hlinkcontainer">
    <a>MY PROFILE</a>
    <a>FIND A COACH</a>
  </div>
</nav>
<mat-card class="container-card">
  <div class="filter-container">
    <mat-form-field appearance="standard">
      <mat-label>Topics</mat-label>
      <mat-select matNativeControl required>
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Years</mat-label>
      <mat-select matNativeControl required>
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
      </mat-select>
    </mat-form-field>
    <mat-icon>search</mat-icon>
    <mat-form-field class="search-field">
      <input matInput placeholder="First name, last name or email">
    </mat-form-field>
  </div>
<!--  <ul>-->
<!--    <li *ngFor="let coach of coaches">-->
<!--      <h2>{{coach.userInfo.firstName}} {{coach.userInfo.lastName}}</h2>-->
  <div class="coach-card-container">
      <mat-card class="coach-card" *ngFor="let coach of coaches">
        <mat-card-title>{{coach.userInfo.firstName}} {{coach.userInfo.lastName}}</mat-card-title>
        <img src="{{coach.userInfo.pictureUrl}}">
        {{coach.topicOne.name}}
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" multiple="true" *ngIf="coach.topicOne.name !==''">
          <mat-button-toggle [ngStyle]="{'background-color':coach.topicOne.firstGrade ? '#FBC02D': 'white'}">
            <mat-icon class="grade-icon">filter_1</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle [ngStyle]="{'background-color':coach.topicOne.secondGrade ? '#FBC02D': 'white'}">
            <mat-icon class="grade-icon">filter_2</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle [ngStyle]="{'background-color':coach.topicOne.thirdGrade ? '#FBC02D': 'white'}">
            <mat-icon class="grade-icon">filter_3</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle [ngStyle]="{'background-color':coach.topicOne.fourthGrade ? '#FBC02D': 'white'}">
            <mat-icon class="grade-icon">filter_4</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle [ngStyle]="{'background-color':coach.topicOne.fifthGrade ? '#FBC02D': 'white'}">
            <mat-icon class="grade-icon">filter_5</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle [ngStyle]="{'background-color':coach.topicOne.sixthGrade ? '#FBC02D': 'white'}">
            <mat-icon class="grade-icon">filter_6</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle [ngStyle]="{'background-color':coach.topicOne.seventhGrade ?'#FBC02D': 'white'}">
            <mat-icon class="grade-icon">filter_7</mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
        {{coach.topicTwo.name}}
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" multiple="true" *ngIf="coach.topicTwo.name !==''">
          <mat-button-toggle [ngStyle]="{'background-color':coach.topicTwo.firstGrade ? '#FBC02D': 'white'}">
            <mat-icon class="grade-icon">filter_1</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle [ngStyle]="{'background-color':coach.topicTwo.secondGrade ? '#FBC02D': 'white'}">
            <mat-icon class="grade-icon">filter_2</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle [ngStyle]="{'background-color':coach.topicTwo.thirdGrade ? '#FBC02D': 'white'}">
            <mat-icon class="grade-icon">filter_3</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle [ngStyle]="{'background-color':coach.topicTwo.fourthGrade ? '#FBC02D': 'white'}">
            <mat-icon class="grade-icon">filter_4</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle [ngStyle]="{'background-color':coach.topicTwo.fifthGrade ? '#FBC02D': 'white'}">
            <mat-icon class="grade-icon">filter_5</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle [ngStyle]="{'background-color':coach.topicTwo.sixthGrade ? '#FBC02D': 'white'}">
            <mat-icon class="grade-icon">filter_6</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle [ngStyle]="{'background-color':coach.topicTwo.seventhGrade ?'#FBC02D': 'white'}">
            <mat-icon class="grade-icon">filter_7</mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
        <mat-button fab-but></mat-button>
      </mat-card>
  </div>
<!--    </li>-->

<!--  </ul>-->

</mat-card>
