<div class="profile-container">
  <nav class="left-coachee-menu">
    <h3>My Profile</h3>
    <button mat-button [style]="{'background': colorLayout}"> Profile information</button>
    <button mat-button routerLink="/coaching-sessions">Coaching sessions</button>
    <button mat-button routerLink="/becomeacoach" *ngIf="!isCoach">Become a coach</button>
  </nav>
  <mat-card>
    <div class="prof-info-header">
      <mat-card-title>Profile Information</mat-card-title>
      <button mat-mini-fab class="edit-btn" (click)="edit()" [style]="{'background': colorLayout}">
        <mat-icon>create</mat-icon>
      </button>
    </div>
    <div class="pro-info-body">
      <ng-container *ngIf="coachee.userInfo.pictureUrl === '';then defaultProfile else profileIsPresent"></ng-container>
      <ng-template #defaultProfile>
        <img mat-card-avatar [src]="defaultPicture">
      </ng-template>
      <ng-template #profileIsPresent>
        <img mat-card-avatar [src]="coachee.userInfo.pictureUrl">
      </ng-template>
      <mat-card-content>
        <form>
          <mat-form-field appearance="standard">
            <mat-label>First name</mat-label>
            <input type="text" name="firstName" [(ngModel)]="coachee.userInfo.firstName" matInput [disabled]="disableSelect.value">
          </mat-form-field>
          <mat-form-field appearance="standard">
            <mat-label>Last name</mat-label>
            <input type="text" name="lastName" [(ngModel)]="coachee.userInfo.lastName" matInput [disabled]="disableSelect.value">
          </mat-form-field>
          <mat-form-field appearance="standard">
            <mat-label>E-mail</mat-label>
            <input type="text" name="email" [(ngModel)]="coachee.userInfo.email" matInput [disabled]="disableSelect.value">
          </mat-form-field>
          <mat-form-field appearance="standard">
            <mat-label>Class</mat-label>
            <input type="text" name="class" matInput [disabled]="disableSelect.value">
          </mat-form-field>
          <mat-form-field appearance="standard" *ngIf="!editable">
            <mat-label>PictureUrl</mat-label>
            <input type="text" name="picture" [(ngModel)]="coachee.userInfo.pictureUrl" matInput [disabled]="disableSelect.value">
          </mat-form-field>
          <mat-form-field appearance="standard">
            <mat-label>You-Coach Role</mat-label>
            <select matNativeControl name="role" [disabled]="disableSelect.value">
              <option value="" selected></option>
              <option value="coachee">Coachee</option>
              <option value="coach">Coach</option>
              <option value="admin">Admin</option>
            </select>
          </mat-form-field>
        </form>
        <div class="layout-right buttons" *ngIf="!editable">
          <button class="save-btn" mat-raised-button (click)="editUser()">Save
            <mat-icon aria-hidden="false">save</mat-icon>
          </button>
          <button class="cancel-btn" mat-raised-button (click)="cancel()">Cancel
            <mat-icon aria-hidden="false">cancel</mat-icon>
          </button>
        </div>
      </mat-card-content>
    </div>
  </mat-card>
</div>
