
<div class="profile-container">

  <div class="cards">



    <mat-card class="mat-card-profile-information">
      <div class="prof-info-header">
        <mat-card-title>Profile Information</mat-card-title>
        <button mat-mini-fab class="edit-btn" (click)="requestSession()">
          <mat-icon>calendar_today</mat-icon>
        </button>
      </div>
      <div class="img-and-form-container">
        <ng-container *ngIf="coach.userInfo.pictureUrl === '';then defaultProfile else profileIsPresent"></ng-container>
        <ng-template #defaultProfile>
          <img mat-card-avatar [src]="defaultPicture">
        </ng-template>
        <ng-template #profileIsPresent>
          <img mat-card-avatar [src]="coach.userInfo.pictureUrl">
        </ng-template>
        <form>
          <mat-form-field appearance="standard">
            <mat-label>First name</mat-label>
            <input type="text" name="firstName" [(ngModel)]="coach.userInfo.firstName" matInput disabled="true">
          </mat-form-field>
          <mat-form-field appearance="standard">
            <mat-label>Last name</mat-label>
            <input type="text" name="lastName" [(ngModel)]="coach.userInfo.lastName" matInput disabled="true">
          </mat-form-field>
          <mat-form-field appearance="standard">
            <mat-label>E-mail</mat-label>
            <input type="text" name="email" [(ngModel)]="coach.userInfo.email" matInput disabled="true">
          </mat-form-field>
          <mat-form-field appearance="standard">
            <mat-label>Class</mat-label>
            <input type="text" name="class" matInput disabled="true">
          </mat-form-field>
        </form>
      </div>
    </mat-card>
    <div class="line"></div>
    <mat-card>
      <div class="prof-info-header">
        <mat-card-title>Coach Information</mat-card-title>

      </div>
      <form #coachInformationForm="ngForm" >

        <mat-form-field appearance="standard">
          <mat-label>Introduction</mat-label>
          <input type="text" name="introduction" [(ngModel)]="coach.introduction" matInput
                 disabled="true">
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Availability</mat-label>
          <input type="text" name="availability" [(ngModel)]="coach.availability" matInput
                 disabled="true">
        </mat-form-field>

      </form>
    </mat-card>
    <div class="line"></div>
    <mat-card>
      <div class="prof-info-header">
        <mat-card-title>Coaching Topics</mat-card-title>

      </div>
      <form #coachTopicsForm="ngForm" >
        <div *ngIf=" coach.topicOne.name !==''">
          <mat-form-field appearance="standard">
            <input type="text" name="topic1" [(ngModel)]="coach.topicOne.name" matInput disabled="true">
          </mat-form-field>
          <mat-button-toggle-group name="fontStyle" aria-label="Font Style" multiple="true"
                                   disabled="true">
            <mat-button-toggle [ngStyle]="{'background-color':coach.topicOne.firstGrade ? '#FBC02D': 'white'}">
              <mat-icon class="grade-icon">filter_1</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle [ngStyle]="{'background-color':coach.topicOne.secondGrade ? '#FBC02D': 'white'}">
              <mat-icon class="grade-icon">filter_2</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle [ngStyle]="{'background-color':coach.topicOne.thirdGrade ? '#FBC02D': 'white'}">
              <mat-icon class="grade-icon">filter_3</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle [ngStyle]="{'background-color':coach.topicOne.fourthGrade ? '#FBC02D': 'white'}">
              <mat-icon class="grade-icon">filter_4</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle [ngStyle]="{'background-color':coach.topicOne.fifthGrade ? '#FBC02D': 'white'}">
              <mat-icon class="grade-icon">filter_5</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle [ngStyle]="{'background-color':coach.topicOne.sixthGrade ? '#FBC02D': 'white'}">
              <mat-icon class="grade-icon">filter_6</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle [ngStyle]="{'background-color':coach.topicOne.seventhGrade ? '#FBC02D': 'white'}">
              <mat-icon class="grade-icon">filter_7</mat-icon>
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <div *ngIf="coach.topicTwo.name !==''">
          <mat-form-field appearance="standard">
            <input type="text" name="topic2" [(ngModel)]="coach.topicTwo.name" matInput
                   disabled="true">
          </mat-form-field>
          <mat-button-toggle-group name="fontStyle" aria-label="Font Style" multiple="true"
                                   disabled="true">
            <mat-button-toggle [ngStyle]="{'background-color':coach.topicTwo.firstGrade ? '#FBC02D': 'white'}">
              <mat-icon class="grade-icon">filter_1</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle [ngStyle]="{'background-color':coach.topicTwo.secondGrade ? '#FBC02D': 'white'}">
              <mat-icon class="grade-icon">filter_2</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle [ngStyle]="{'background-color':coach.topicTwo.thirdGrade ? '#FBC02D': 'white'}">
              <mat-icon class="grade-icon">filter_3</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle [ngStyle]="{'background-color':coach.topicTwo.fourthGrade ? '#FBC02D': 'white'}">
              <mat-icon class="grade-icon">filter_4</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle [ngStyle]="{'background-color':coach.topicTwo.fifthGrade ? '#FBC02D': 'white'}">
              <mat-icon class="grade-icon">filter_5</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle [ngStyle]="{'background-color':coach.topicTwo.sixthGrade ? '#FBC02D': 'white'}">
              <mat-icon class="grade-icon">filter_6</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle [ngStyle]="{'background-color':coach.topicTwo.seventhGrade ? '#FBC02D': 'white'}">
              <mat-icon class="grade-icon">filter_7</mat-icon>
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>
       </form>
    </mat-card>

  </div>
</div>

