<nav class="hnavigation">
  <div class="hlinkcontainer">
    <a>MY PROFILE</a>
    <a>FIND A COACH</a>
    <a>MY COACH PROFILE</a>
  </div>
</nav>
<div class="profile-container">
  <nav class="left-coachee-menu">
    <h3>My Profile</h3>
    <a class="link-here" routerLink="/users/:id">Profile information</a>
    <a routerLink="/coaching-sessions">Coaching sessions</a>
    <a routerLink="/coach/requestprofilechange">Request profile change</a>
  </nav>
  <div class="cards">

    <mat-card class="mat-card-profile-information">
      <div class="prof-info-header">
        <mat-card-title>Profile Information</mat-card-title>
      </div>
      <div class="img-and-form-container">
        <ng-container *ngIf="coach.userInfo.pictureUrl === '';then defaultProfile else profileIsPresent"></ng-container>
        <ng-template #defaultProfile>
          <img mat-card-avatar [src]="defaultPicture">
        </ng-template>
        <ng-template #profileIsPresent>
          <img mat-card-avatar [src]="coach.userInfo.pictureUrl">
        </ng-template>
        <form>
          <mat-form-field appearance="standard">
            <mat-label>First name</mat-label>
            <input type="text" name="firstName" [(ngModel)]="coach.userInfo.firstName" matInput disabled="true">
          </mat-form-field>
          <mat-form-field appearance="standard">
            <mat-label>Last name</mat-label>
            <input type="text" name="lastName" [(ngModel)]="coach.userInfo.lastName" matInput disabled="true">
          </mat-form-field>
          <mat-form-field appearance="standard">
            <mat-label>E-mail</mat-label>
            <input type="text" name="email" [(ngModel)]="coach.userInfo.email" matInput disabled="true">
          </mat-form-field>
          <mat-form-field appearance="standard">
            <mat-label>Class</mat-label>
            <input type="text" name="class" matInput disabled="true">
          </mat-form-field>
        </form>
      </div>
    </mat-card>
    <div class="line"></div>
    <mat-card>
      <div class="prof-info-header">
        <mat-card-title>Coach Information</mat-card-title>
        <button mat-mini-fab class="edit-btn" (click)="editProfile()">
          <mat-icon>create</mat-icon>
        </button>
      </div>
      <form #coachInformationForm="ngForm" (ngSubmit)="editCoach()">
        <mat-form-field appearance="standard">
          <mat-label>Coach XP</mat-label>
          <input type="text" name="coachxp" [(ngModel)]="coach.coachXp" matInput disabled="true">
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Introduction</mat-label>
          <input type="text" name="introduction" [(ngModel)]="coach.introduction" matInput
                 [disabled]="disableProfile.value">
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Availability</mat-label>
          <input type="text" name="availability" [(ngModel)]="coach.availability" matInput
                 [disabled]="disableProfile.value">
        </mat-form-field>
        <div class="layout-right buttons" *ngIf="!disableProfile.value">
          <button class="save-btn" mat-raised-button type="submit">Save
            <mat-icon aria-hidden="false">save</mat-icon>
          </button>
          <button class="cancel-btn" mat-raised-button (click)="cancel()">Cancel
            <mat-icon aria-hidden="false">cancel</mat-icon>
          </button>
        </div>
      </form>
    </mat-card>
    <div class="line"></div>
    <mat-card>
      <div class="prof-info-header">
        <mat-card-title>Coaching Topics</mat-card-title>
        <button mat-mini-fab class="edit-btn" (click)="editTopic()">
          <mat-icon>create</mat-icon>
        </button>
      </div>
      <form #coachTopicsForm="ngForm" (ngSubmit)="editCoach()">
        <mat-form-field appearance="standard">
          <input type="text" name="topic1" [(ngModel)]="coach.topicOne.name" matInput [disabled]="disableTopics.value">
        </mat-form-field>
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" multiple="true"
                                 [disabled]="disableTopics.value">
          <mat-button-toggle [ngStyle]="{'background-color':coach.topicOne.firstGrade ? '#80CBC4': 'white'}"
                             (click)="disableTopics.value === false && topicOneFirstGrade()">
            <mat-icon class="grade-icon">filter_1</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle [ngStyle]="{'background-color':coach.topicOne.secondGrade ? '#80CBC4': 'white'}"
                             (click)="disableTopics.value === false && topicOneSecondGrade()">
            <mat-icon class="grade-icon">filter_2</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle [ngStyle]="{'background-color':coach.topicOne.thirdGrade ? '#80CBC4': 'white'}"
                             (click)="disableTopics.value === false && topicOneThirdGrade()">
            <mat-icon class="grade-icon">filter_3</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle [ngStyle]="{'background-color':coach.topicOne.fourthGrade ? '#80CBC4': 'white'}"
                             (click)="disableTopics.value === false && topicOneFourthGrade()">
            <mat-icon class="grade-icon">filter_4</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle [ngStyle]="{'background-color':coach.topicOne.fifthGrade ? '#80CBC4': 'white'}"
                             (click)="disableTopics.value === false && topicOneFifthGrade()">
            <mat-icon class="grade-icon">filter_5</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle [ngStyle]="{'background-color':coach.topicOne.sixthGrade ? '#80CBC4': 'white'}"
                             (click)="disableTopics.value === false && topicOneSixthGrade()">
            <mat-icon class="grade-icon">filter_6</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle [ngStyle]="{'background-color':coach.topicOne.seventhGrade ? '#80CBC4': 'white'}"
                             (click)="disableTopics.value === false && topicOneSeventhGrade()">
            <mat-icon class="grade-icon">filter_7</mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
<!--        <div *ngIf="coach.topicTwo.name!==''&&disableTopics.value===false">-->
          <mat-form-field appearance="standard">
            <input type="text" name="topic2" [(ngModel)]="coach.topicTwo.name" matInput
                   [disabled]="disableTopics.value">
          </mat-form-field>
          <mat-button-toggle-group name="fontStyle" aria-label="Font Style" multiple="true"
                                   [disabled]="disableTopics.value">
            <mat-button-toggle [ngStyle]="{'background-color':coach.topicTwo.firstGrade ? '#80CBC4': 'white'}"
                               (click)="disableTopics.value === false && topicTwoFirstGrade()">
              <mat-icon class="grade-icon">filter_1</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle [ngStyle]="{'background-color':coach.topicTwo.secondGrade ? '#80CBC4': 'white'}"
                               (click)="disableTopics.value === false && topicTwoSecondGrade()">
              <mat-icon class="grade-icon">filter_2</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle [ngStyle]="{'background-color':coach.topicTwo.thirdGrade ? '#80CBC4': 'white'}"
                               (click)="disableTopics.value === false && topicTwoThirdGrade()">
              <mat-icon class="grade-icon">filter_3</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle [ngStyle]="{'background-color':coach.topicTwo.fourthGrade ? '#80CBC4': 'white'}"
                               (click)="disableTopics.value === false && topicTwoFourthGrade()">
              <mat-icon class="grade-icon">filter_4</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle [ngStyle]="{'background-color':coach.topicTwo.fifthGrade ? '#80CBC4': 'white'}"
                               (click)="disableTopics.value === false && topicTwoFifthGrade()">
              <mat-icon class="grade-icon">filter_5</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle [ngStyle]="{'background-color':coach.topicTwo.sixthGrade ? '#80CBC4': 'white'}"
                               (click)="disableTopics.value === false && topicTwoSixthGrade()">
              <mat-icon class="grade-icon">filter_6</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle [ngStyle]="{'background-color':coach.topicTwo.seventhGrade ? '#80CBC4': 'white'}"
                               (click)="disableTopics.value === false && topicTwoSeventhGrade()">
              <mat-icon class="grade-icon">filter_7</mat-icon>
            </mat-button-toggle>
          </mat-button-toggle-group>
<!--        </div>-->
        <div class="layout-right buttons" *ngIf="!disableTopics.value">
          <button class="save-btn" mat-raised-button type="submit">Save
            <mat-icon aria-hidden="false">save</mat-icon>
          </button>
          <button class="cancel-btn" mat-raised-button (click)="cancel()">Cancel
            <mat-icon aria-hidden="false">cancel</mat-icon>
          </button>
        </div>

      </form>
    </mat-card>

  </div>
</div>
