.hnavigation {
  background-color: #80CBC4;
  min-height: 40px;
  border-bottom: lightgray solid;
}

.hlinkcontainer {
  margin-left: 120px;
  display: flex;
  justify-content: space-between;
  width: 30%;
}

h3 {
  margin-bottom: 0;
  font-size: large;
}

a {
  font-size: medium;
  padding: 8px;
}

.left-coachee-menu {
  margin: 0 35px 15px 15px;
  display: flex;
  flex-direction: column;
  width: 13%;

}


.link-here {
  background-color: #80CBC4;
}

.profile-container {
  display: flex;
  margin: 50px;
  margin-bottom: 100px;
}

.left-coachee-menu > a {
  border: solid 1px;
  border-color: lightgray
}


/* visited link */
a:visited {
  text-decoration: none;
  color: black;
  border-color: lightgray;
}

/* mouse over link */
a:hover {
  color: gray;
  text-decoration: none;
}

/* selected link */
a:active {
  text-decoration: none;
}

.cards {
  display: flex;
  flex-direction: column;
  width: 70%;
  max-width: 1100px;
  min-width: 874px;
}

mat-card {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

mat-form-field {
  /*width:80%;*/
  width: 90%;
}

img {
  margin: 20px;
  width: 200px;
  height: 200px;
}

.mat-card-profile-information {
  display: flex;
  flex-direction: column;
}

.prof-info-header {
  display: flex;
  justify-content: space-between;
  border-left: white;
  border-right: white;
  border-top: white;
  border-bottom: lightgray;
  border-style: solid;
}

.img-and-form-container {
  display: flex;
  flex-direction: row;
}

.line {
  width: 100%;
  border-bottom: 1px solid lightgrey;
  margin: 20px 0;
}

.p-container {
  display: flex;
  flex-direction: column;
}

.edit-btn {
  background-color: #80CBC4;
  margin: 5px;
}


.grade-icon {
  color: #000000DE;
}

.save-btn {
  background-color: #FBC02D;
  width: 15%;
  margin: 5px;
  float: right !important;
  min-width: 100px;
}

.cancel-btn {
  background-color: #80CBC4;
  width: 15%;
  margin: 5px;
  float: right !important;
  min-width: 100px;
}

.side-nav-btn,
.side-nav-btn-active {
  width: 175px;
  text-align: left;
}

.side-nav-btn-active {
  background-color: #80CBC4;
}

.buttons {
  width: 100%;
  float: right;
  /*margin-left: 300px;*/
  margin-right: 20px;
}


