<header>
  <mat-toolbar role="heading" class="row">
    <h1>{{title}}</h1>
    <mat-nav-list class="layout-right"> <!-- TODO-->
      <button mat-button routerLink="/home">Home</button>
      <button mat-button routerLink="/aboutUs">About Us</button>
      <button mat-button routerLink="/contactUs">Contact Us</button>
      <button class="sign-btn" mat-raised-button routerLink="/signin">Sign In <mat-icon aria-hidden="false" >person</mat-icon></button>
      <button class="register-btn" mat-raised-button routerLink="/register">Register <mat-icon aria-hidden="false" >person_add</mat-icon></button>
    </mat-nav-list>
  </mat-toolbar>
</header>
<div>
  <router-outlet></router-outlet>
</div>
<footer>
  <div class="footer-header">
<div class="footer-youcoachdesc">
  <h1>{{title}}</h1>
  <p class="mat-body-1 footer-text">You-Coach is an academic program between students in secondary schools, supervised by the schools started by the
    <a href="http://www.make-it-happen.org" target="_blank">Make-It-Happen Foundation</a> </p>
</div>
  <div class="footer-navigation">
    <h1>Navigation</h1>
    <ul class="footer-navigation-list">
      <li>
        <mat-icon mat-list-icon>chevron_right</mat-icon>
        <div mat-line><a routerLink="/home">Home</a></div>
      </li>
      <li>
        <mat-icon mat-list-icon>chevron_right</mat-icon>
        <div mat-line><a routerLink="/signIn">Sign in / Register</a></div>
      </li>
      <li>
        <mat-icon mat-list-icon>chevron_right</mat-icon>
        <div mat-line><a routerLink="/contactUs">Contact</a></div>
      </li>
      <li>
        <mat-icon mat-list-icon>chevron_right</mat-icon>
        <div mat-line><a routerLink="/aboutUs">About us</a></div>
      </li>
    </ul>
  </div>
  </div>
  <div class="inline-footer">
    <div class="inline-footer-item">
    <p class="mat-body-1">Web application proudly created by <a href="http://www.switchfully.com" target="_blank">Switchfully</a> students.</p>
    </div>
  </div>

</footer>
