

<div class="profile-container">
  <nav class="left-coachee-menu">
    <h3>My Profile</h3>
    <button mat-button [routerLink]="profileUrl">Profile information</button>
    <button mat-button routerLink="/coaching-sessions">Coaching sessions</button>
    <button mat-button routerLink="/becomeacoach" *ngIf="!isCoach">Become a coach</button>

  </nav>
  <mat-card>
    <div class="prof-info-header">
      <mat-card-title>Apply to become a coach</mat-card-title>
    </div>
    <div class="pro-info-body">
      <img src="assets/under-construction.jpg">
      <mat-card-content>
        <p>This part of the application is currently still under construction.
          In order to become a coach please send an email to your administrator<br>
          with the following information:<br><br>
          Your full name<br>
          Your motivation to become a coach<br>
          The list of topics (topic + grade) on which you would like to coach</p>
        <div class="buttons">
          <a class="send-mail-btn" href="mailto:admin1@school.org" mat-raised-button>SEND MAIL
            <mat-icon aria-hidden="false">send</mat-icon>
          </a>
        </div>
      </mat-card-content>
    </div>
  </mat-card>
</div>
