<img src="assets/banner1.png" alt="homepage-banner">
<div class="homepage-intro-container">
  <h1>You-Coach</h1>
  <p>You-Coach is an academic coaching program between students in secondary schools, supervised by the schools.<br><br>Students
    with difficulties in a subject and who want to make progress can ask for explanations and advice to other students
    in their school who have mastered the subject or have already acquired a good working method.<br><br>
    With You-Coach everything is quick and easy: just register as a Coach or request a coaching session on this website,
    and it will organize a private coaching session in the school.</p>
</div>
<img src="assets/banner2.png" alt="homepage-banner2">
<div class="coach-content-container">
  <div class="become-a-coach-container">
    <h1>Become A Coach</h1>
    <h3>To help others and increase your potential</h3>
    <p>
      If you feel strong in a subject and want to help other students, sign up as a coach at your school. You will
      strengthen your knowledge in this subject, you will develop new skills and above all you will feel useful. Your
      commitment will be recognized and rewarded by your school.
    </p>
  </div>
  <div class="benefit-from-a-coach-container">
    <h1>Benefit from coaching</h1>
    <h3>To improve you academic results and regain motivation</h3>
    <p>
      If you have difficulties in a subject and you want to progress, make an appointment for private coaching, and
      benefit from the academic and practical experience of another student at your school, who understands your
      concrete needs. Your willingness to progress will be recognized by your school.
    </p>
  </div>
</div>
<img src="assets/banner3.png" alt="homepage-banner3">
<div class="questions-container">
  <h1>Any Questions?</h1>
  <p>Go to the "Frequently Asked Questions" (FAQ) page or talk to your teacher or the You-Coach coordinator of your
    school
  </p>
  <div class="question-button-container">
    <button mat-raised-button routerLink="/signIn">GO TO FAQ</button>
    <button mat-raised-button routerLink="/signIn">CONTACT ADMIN</button>
  </div>
</div>

